/* HEAD */

.leaderboard-head {
	background-color: #1e1e1e;
	border-radius: 2px 2px 0 0;
	color: #fff;
	padding: 52px;
	text-align: center;
}

.leaderboard-head .leaderboard-title {
	font-size: 21px;
	line-height: 31px;
	margin-bottom: 13px;
}

.leaderboard-desc {
	color: #f6efd1;
}





/*------------------------------*\
	LEADERBOARD
\*------------------------------*/

ol.leaderboard-leaders {
	border-radius: 0 0 2px 2px;
	list-style: none;
	margin-left: 0;
}


/* TILE */

.leaderboard-leaders li.leader-tile {
	border-bottom: 0;
	color: #fff;
	list-style: none;
	margin: 0;
	padding: 0;
	text-indent: 0;
}

.leader-tile-0 {
	background: url('/wp-content/plugins/comments-leaderboard/assets/medal.png') no-repeat 95% center;
	background-size: 20px 20px;
	font-size: 1.2em;
}
.leader-tile-1 { background-color: rgba(0, 0, 0, 0.3); }
.leader-tile-2 { background-color: rgba(0, 0, 0, 0.5); }
.leader-tile-3 { background-color: rgba(0, 0, 0, 0.7); }
.leader-tile-4 { background-color: rgba(0, 0, 0, 0.8); }

.leaderboard-leaders .leader-tile-inner {
	border-bottom: 0;
	color: #fff;
	display: block;
	padding: 13px 16px;
}

.leader-tile-1 .leader-tile-inner { opacity: 0.4; }
.leader-tile-2 .leader-tile-inner { opacity: 0.2; }
.leader-tile-3 .leader-tile-inner { opacity: 0.1; }
.leader-tile-4 .leader-tile-inner { opacity: 0.05; }

.leader-tile:hover .leader-tile-inner { opacity: 1; }

.leader-tile-inner:after {
	clear: both;
	content: " ";
	display: table;
}


/* AVATAR + COMMENT COUNT */

.leaderboard-leaders .leader-name {
	display: inline-block;
	padding-left: 11px;
	padding-top: 8px;
}

.leaderboard-leaders .leader-avatar {
	display: block;
	float: left;
	position: relative;
}

.leaderboard-leaders .leader-count {
	background-color: #f6efd1;
	border-radius: 2px 0 0;
	color: rgba(0, 0, 0, 0.7);
	font-size: 0.7em;
	font-weight: bold;
	height: 15px;
	line-height: 1;
	padding: 2px;
	position: absolute;
		bottom: 0;
		right: 0;
	text-align: center;
	min-width: 15px;
}

.leaderboard-leaders .avatar {
    background-color: #fff;
    border-radius: 50% 50% 0 50%;
    padding: 3px;
}